include README.rst
include CHANGES
include LICENSE
include tox.ini
recursive-include docs *
recursive-include pyramid_frontend/static *
include pyramid_frontend/images/no-image.png

prune docs/_build
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
